<div class="form-group">
    <label for="country">Страна</label>
    <select class="form-control" id="country" onchange="onCountryChange();">
        <option value="-1">Не указана</option>
    </select>
</div>
<div class="form-group">
    <label for="point">Пункт проката</label>
    <select class="form-control" id="point" onchange="onRentalPointChange();">
        <option value="-1">Не указан</option>
    </select>
</div>