{% extends "base.html.twig" %}

{% block title %}Выбрать пункт проката{% endblock %}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="js/common.js" ></script>
    <script type="text/javascript" src="js/rent_point_select.js"></script>
{% endblock %}

{% block content %}
    {% if true == links_disabled %}
        <div class="alert alert-secondary" role="alert">
            Перед началом использования сервиса, пожалуйста, выберите страну и пункт проката
        </div>
    {% endif %}

    <form>
        {% include 'components/select_rental_point_component.html.twig' %}
        <button type="button" class="btn btn-primary" onclick="onSetRentalPoint();">Выбрать</button>
        <button type="button" class="btn btn-secondary" onclick="clearSelectRentalPointFilter();">Очистить</button>
    </form>
{% endblock %}