{% extends "base.html.twig" %}

{% block title %}Отследить ТС{% endblock %}
{% block head %}
    {{ parent() }}

    {#<script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>#}
    <script src="https://api-maps.yandex.ru/1.1/index.xml?key=AFJPzkoBAAAA0wlkNQMAPICy9TNyocL5eQ8SocnlXToPI5wAAAAAAAAAAABBuPPUVxu_FmaVunDUUsLA8_Hv5Q==" type="text/javascript"></script>

    <script src="js/common.js"></script>
    <script src="js/rent_return.js"></script>
    <script type="text/javascript" src="js/tracking.js"></script>
{% endblock %}
{% block content %}

    <div id="find-tracking-vehicle-container">
        {% include 'return/select_vehicle.html.twig' %}
    </div>

    <div id="track-vehicle-container" style="display: none;">

        <button type="button" class="btn btn-danger" onclick="returnToVehicleTrackingSelect();">Вернуться к выбору ТС</button>

        <div id="map" style="width: 800px; height: 600px"></div>
    </div>

{% endblock %}